:root {
    --color1: #3D85C5;
    --color2: #2B5F8C;
    --color3: #224A6D;
    --color4: #1A3853;
    --color5: #FF7E2E;
    --color6: #F3931B;
    --color7: #F5F5F5;
    --color8: #080808;
    --color9: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color9);
    background-color: #18162c;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.button {
    font-weight: bold;
    background-color: var(--color5);
    color: var(--color9);
    border: none;
    border-radius: 8px;
    padding: 10px 35px;
    text-decoration: none;
}

.container_head {
    display: flex;
    padding: 30px;
    background: url("img/background.jpg") no-repeat fixed;
}

.info-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 1;
    padding: 20px;
}

.col.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-companies {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #041931;
    padding: 40px;
}

.company_list {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);

}

.company_list ul {
    display: flex;
    align-items: center;
    gap: 40px;
    width: max-content;
    list-style: none;

}

.company_list img {
    width: 150px;
}

.form-section {
    border: solid 1px var(--color5);
}

.about-company {
    display: flex;
}

.dynamic-text {
    font-size: 30px;
}

.footer_section {
    display: flex;
    background-color: var(--color3);
}

.footer-right-section {
    display: flex;
}

.footer-about-section {
}

.footer-info-section {
}
